<a href="https://colab.research.google.com/github/LORENA-MAXIMO/Leticia-Lorena-Aluna/blob/main/07_REPETI%C3%87%C3%83O_COM_FOR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
contador = 0
for x in ['spam', 'eggs', 'bacon']:
  contador += 1
  print(f"{contador}: {x}")

1: spam
2: eggs
3: bacon

In [2]:
contador = 0
for x in ['spam', 'eggs', 'bacon']:
  print(f"{contador}: {x}")
  contador += 1

0: spam
1: eggs
2: bacon

In [3]:
T = [(1,2), (3,4), (5,6)]
for (a,b) in T:
  print(a," e ", b)

1  e  2
3  e  4
5  e  6